/* Themed colors */
:root {
    --primary-accent: #808080d6;
    --icon-and-text-accent: #555555;
    --button-border: #336194;
    --link-focus: #2f5a89;
    --form-shadow: rgba(101, 10, 10, 0.5);
    --pagination-bg: #b8cee6;
    --link-hover-bg: #36669c;
    --navbar-focus: #92b3d9;

    
    --icon-footer: #ffffff;
    --t-rax-yellow: #f1d462;

    /* Core colors 
     * from https://m3.material.io/theme-builder
     */
    --core-primary: var(--t-rax-yellow);
    --core-secondary: #9b906f;
    --core-neutral: #949088;
  }

  /* Board member custom */
  .board-member-card {
    -webkit-transition: all 0.2s ease-out;
    -moz-transition: all 0.2s ease-out;
    transition: all 0.2s ease-out; 
  }

  .board-member-card:hover {
    -webkit-transform: scale(1.1, 1.1);
    -ms-transform: scale(1.1, 1.1);
    -o-transform: scale(1.1, 1.1);
    transform: scale(1.1, 1.1);
  }

  .feature-text {
    font-size: larger;
    color: var(--icon-and-text-accent);
  }

  footer div section div div h5 {
    color: var(--icon-footer);
  }

  /* Fontawesome fonts */
  footer div section a .fab,
  footer div section a .fas {
    color: var(--icon-footer);
    border-color: var(--icon-footer);
  }
  .fa-solid, .fab, .fas, .far, .box-simple.icon {
    color: var(--icon-and-text-accent);
    border-color: var(--icon-and-text-accent);
  }
  .heading {
    margin-bottom: 40px;
  }
  .icon {
    display: inline-block;
    width: 80px;
    height: 80px;
    color: #fff;
    line-height: 80px;
    border-radius: 40px;
    border: solid 1px #fff;
    font-size: 20px;
  }
  .icon.icon-lg {
    font-size: 30px;
    border-width: 2px;
  }

  #top-jumbo {
    margin-bottom: 0;
    position: relative;
    background: url('../img/corridor_banner.jpg') center center repeat;
    background-size: cover;
    -webkit-transition: all 0.2s ease-out;
    -moz-transition: all 0.2s ease-out;
    transition: all 0.2s ease-out;
  }
  #bottom-jumbo {
    margin-bottom: 0;
    position: relative;
    background: url('../img/t-rax-cortege-min.jpg') center center repeat;
    background-size: cover;
    -webkit-transition: all 0.2s ease-out;
    -moz-transition: all 0.2s ease-out;
    transition: all 0.2s ease-out;
  }
  .jumbotron .dark-mask {
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: var(--primary-accent);
    opacity: 0.9;
    filter: alpha(opacity=90);
  }
  .jumbotron h1,
  .jumbotron h2,
  .jumbotron h3,
  .jumbotron p,
  .jumbotron ul {
    color: #fff;
  }
  .jumbotron h1,
  .jumbotron h2,
  .jumbotron h3 {
    color: #ffffff;
    text-transform: uppe  .ul-icons {
      padding-left: 10px;
    }
    .ul-icons li {
      list-style-type: none;
      line-height: 20px;
      margin-bottom: 20px;
    }
    .ul-icons li i {
      width: 20px;
      height: 20px;
      background: var(--primary-accent);
      color: #fff;
      text-align: center;
      border-radius: 10px;
      line-height: 20px;
      margin-right: 10px;
    }
    ul.list-style-none {
      list-style: none;
    }rcase;
    letter-spacing: 0.08em;
  }
  .box-simple .icon {
    color: var(--icon-and-text-accent);
    border-color: var(--icon-and-text-accent);
    -webkit-transition: all 0.2s ease-out;
    -moz-transition: all 0.2s ease-out;
    transition: all 0.2s ease-out;
  }
  #heading-breadcrumbs {
    background: var(--t-rax-yellow);
    /* background: url('../img/banner.jpg') center center repeat; */
    padding: 20px 0;
    /* margin-bottom: 40px; */
  }
  #heading-breadcrumbs.no-mb {
    margin-bottom: 0;
  }
  #heading-breadcrumbs h1 {
    color: #333333;
    text-transform: uppercase;
    font-size: 30px;
    font-weight: 700;
    letter-spacing: 0.08em;
  }
  @media (max-width: 991px) {
    #heading-breadcrumbs h1 {
      text-align: center;
    }
  }
  #heading-breadcrumbs ul.breadcrumb {
    margin-top: 5px;
    margin-bottom: 0;
  }
  .bar {
    position: relative;
    background: var(--primary-accent);
    padding: 5%;
  }
 
  .bar.background-image-fixed-2 {
    background: var(--t-rax-yellow);
    background-attachment: fixed;
    background-size: cover;
  }

  /* navbar */
  .navbar {
    /* needer for breadcrumb to display correctly */
    position: relative;
  }
  /* navbar brand */
  .navbar-brand {
    float: left;
    padding: 10px 15px;
    font-size: 18px;
    line-height: 20px;
    height: 62px;
  }
  .navbar-brand:hover,
  .navbar-brand:focus {
    text-decoration: none;
  }
  .navbar-brand img {
    max-height: 140px;
  }
  /* scaffolding */
  body {
    font-family: "Roboto", Helvetica, Arial, sans-serif;
    font-size: 14px;
    line-height: 1.42857143;
    color: #555555;
  }
  a {
    color: var(--primary-accent);
    text-decoration: none;
  }
  a:hover,
  a:focus {
    color: var(--link-focus);
    text-decoration: underline;
  }
  a:focus {
    outline: thin dotted;
    outline: 5px auto -webkit-focus-ring-color;
    outline-offset: -2px;
  }
  .img-rounded {
    border-radius: 0;
  }
  hr {
    margin-top: 20px;
    margin-bottom: 20px;
    border: 0;
    border-top: 1px solid #eeeeee;
  }
  /* breadcrumbs */
  .breadcrumb {
    padding: 20px 0;
    margin-bottom: 20px;
    background-color: transparent;
    border-radius: 0;
    text-align: right;
  }
  /* labels */
  .label {
    font-family: "Roboto", Helvetica, Arial, sans-serif;
    font-weight: normal;
    text-transform: uppercase;
    letter-spacing: 0.08em;
  }
  /* type */
  h1,
  h2,
  h3,
  h4,
  h5,
  h6,
  .h1,
  .h2,
  .h3,
  .h4,
  .h5,
  .h6 {
    font-family: "Roboto", Helvetica, Arial, sans-serif;
    font-weight: 900;
    line-height: 1.1;
    color: #333333;
  }
  h1,
  .h1,
  h2,
  .h2,
  h3,
  .h3 {
    margin-top: 20px;
    margin-bottom: 20px;
  }
  p {
    margin: 0 0 10px;
  }
  a.badge:hover,
  a.badge:focus {
    color: #ffffff;
    text-decoration: none;
    cursor: pointer;
  }
  a.list-group-item.active > .badge,
  .nav-pills > .active > a > .badge {
    color: var(--primary-accent);
    background-color: #ffffff;
  }
  .card-img-size {
    width: 100%;
    height: 100%;
  }