<!-- Footer -->
<footer class="bg-dark text-center text-white">
  <!-- Grid container -->
  <div class="container p-4">
    <!-- Section: Social media -->
    <section class="mb-4">

      {{ range $social := sort .Site.Data.footer.social "weight" }}
      <a class="btn rounded-circle" href="{{ $social.url | safeURL }}" role="button"><i class="{{ $social.pre }}"></i></a>
      <!-- <a href="{{ .URL | safeURL }}" target="_blank" style="opacity: 1;">{{ .Pre }}</a> -->
      {{ end }}

    </section>
    <!-- Section: Social media -->

    <!-- Section: Links -->
    <section class="">
      <!--Grid row-->
      <div class="row">
        <!--Grid column-->
        <div class="col mb-4 mb-md-0">
          <h5 class="text-uppercase">Useful links</h5>
          <ul class="list-unstyled mb-0">
          {{ range $link := sort .Site.Data.footer.links "weight" }}
            <li>
              <a href="{{ $link.url }}" class="link-secondary link-offset-2 link-underline-opacity-25 link-underline-opacity-100-hover">{{ $link.desc }}</a>
            </li>
          {{ end }}
          </ul>
        </div>
        <!--Grid column-->

        <!--Grid column-->
        <div class="col mb-4 mb-md-0">
          <h5 class="text-uppercase">Contact us</h5>

          <ul class="list-unstyled mb-0">
            {{ range $link := sort .Site.Data.footer.contact_us "weight" }}
            <li>
              <a href="{{ $link.title }}" class="link-secondary link-offset-2 link-underline-opacity-25 link-underline-opacity-100-hover">{{ $link.title }}</a>
            </li>
            {{ end }}
          </ul>
        </div>
        <!--Grid column-->

        <!--Grid column-->
        <div class="col mb-4 mb-md-0">
          <h5 class="text-uppercase">Find us</h5>

          <ul class="list-unstyled mb-0">
            {{ range $link := sort .Site.Data.footer.find_us "weight" }}
            <li>
              <p class="text-white">{{ $link.title }}</p>
              <p class="text-secondary">{{ $link.desc }}</p>
            </li>
            {{ end }}
          </ul>
        </div>
      </div>
      <!--Grid row-->
    </section>
    <!-- Section: Links -->
  </div>
  <!-- Grid container -->

  <!-- Copyright -->
  <div class="text-center p-3" style="background-color: rgba(0, 0, 0, 0.2);">
    © {{ dateFormat "2006" now }} Copyright:
    <a class="text-white">T-RAX Chalmers</a>
  </div>
  <!-- Copyright -->
</footer>
<!-- Footer -->