<nav class="navbar navbar-expand-md navbar-dark fixed-top bg-dark">
  <div class="container-fluid">
              <a class="navbar-brand home" href="{{ "/" | relLangURL }}">
                  {{ if default false .Site.Params.disabled_logo }}
                    <h4>{{ .Site.Params.logo_text }}</h4>
                  {{ else }}
                    <img src="{{ .Site.Params.logo | relURL }}" alt="{{ .Title }}" class="hidden-xs hidden-sm" />
                  {{ end }}
                    

                  <!--<span class="sr-only">{{ .Title }} - {{ i18n "navHome" }}</span>-->
              </a>
              <!--<h4>T-RAX Chalmers makerspace</h4>-->
              <!-- <div class="navbar-buttons">
                  <button type="button" class="navbar-toggle btn-template-main" data-toggle="collapse" data-target="#navigation">
                    <span class="sr-only">{{ i18n "navToggle" }}</span>
                      <i class="fas fa-align-justify"></i>
                  </button>
              </div> -->

          <div class="navbar-collapse collapse navbar-light " id="navigation">
              <ul class="nav navbar-nav navbar-right">
                {{ $current := . }}

                {{ range .Site.Menus.main.ByWeight }}
                {{ $topLevel := replace .URL "/" "" }}
                {{ $active := "" }}

                {{ if eq $current.RelPermalink .URL }}
                  {{ $active = "active" }}
                {{ end }}

                {{ if eq $current.Type $topLevel }}
                  {{ $active = "active" }}
                {{ end }}

                {{ if and (or (eq $current.RelPermalink .URL) (eq "term" $current.Kind)) (in (slice "page" "term") $current.Kind) }}
                  {{ range (split .URL "/") }}
                    {{ if eq "blog" . }}
                      {{ $active = "active" }}
                    {{ end }}
                  {{ end }}
                {{ end }}

                {{ if .HasChildren }}
                  <!-- Check if the first child marks a menu section identifier -->
                  {{ $hasSections := (hasPrefix (index .Children 0).Identifier "section.") }}
                  <li class="dropdown{{ if $hasSections }} use-yamm {{end}} {{ $active }}">
                      <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">{{ .Name }} <span class="caret"></span></a>
                      {{ if $hasSections }}
                      <div class="dropdown-menu">
                            {{ range .Children.ByWeight }}
                                {{ $column := printf "%s" .Post }}
                                {{ if eq $column "1" }}
                                <h5>{{ .Name }}</h5>
                                {{ if .HasChildren }}
                                {{ range .Children.ByWeight }}
                                <a class="dropdown-item" href="{{ .URL }}">{{ .Name }}</a>
                                {{ end }}
                                {{ end }}
                                {{ end }}
                            {{ end }}
                      </div>
                      {{ else }}
                      <ul class="dropdown-menu">
                          {{ range .Children.ByWeight }}
                          <li><a href="{{ .URL }}">{{ .Name }}</a></li>
                          {{ end }}
                      </ul>
                      {{ end }}
                  </li>
                {{ else }}
                <li class="dropdown {{ $active }}">
                  <a href="{{ .URL }}">{{ .Name }}</a>
                </li>
                {{ end }}
                {{ end }}
              </ul>
          </div>
          <!--/.nav-collapse -->

          <div class="collapse clearfix" id="search">
              <form class="navbar-form" role="search">
                  <div class="input-group">
                      <input type="text" class="form-control" placeholder="Search">
                      <span class="input-group-btn">
                  <button type="submit" class="btn btn-template-main"><i class="fas fa-search"></i></button>
              </span>
                  </div>
              </form>
          </div>
          <!--/.nav-collapse -->
      </div>
</nav>

<!-- *** NAVBAR END ***-->
