
<section class="no-mb">
    <div class="jumbotron" id="top-jumbo">
        <div class="dark-mask">
            {{ range sort .Site.Data.info.what_is_trax "weight" }}
            <div class="container p-4">
                <div class="row d-flex justify-content-center">
                    <div class="col-sm-5 my-auto">
                        <h1>{{ .title | safeHTML }}</h1>
                        <p class="lead">{{ .description | safeHTML }}</p>
                    </div>
                    <div class="col-sm-5">
                        <img class="img-fluid mx-auto d-block" src="{{ .image }}" alt="">
                    </div>
                </div>
            </div>
            {{ end }}
        </div>
    </div>
</section>