<section class="no-mb">
    <div class="jumbotron" id="bottom-jumbo">
        <div class="dark-mask">
            {{ range sort .Site.Data.info.who_is_trax "weight" }}
            <div class="container">
                <div class="row d-flex justify-content-center">
                    <div class="col-sm-5">
                        <h1>{{ .title | safeHTML }}</h1>
                        <p class="lead">{{ .description | safeHTML }}</p>
                </div>
            </div>
            {{ end }}
        </div>
    </div>
</section>