<!DOCTYPE html>
<html class="h-100" lang="{{ .Site.LanguageCode }}">

  <head>
    {{ partial "headers.html" . }}
  </head>

  <body class="d-flex flex-column h-100">

    <main class="flex-shrink-0">
        {{ partial "nav.html" . }}

        {{ partial "breadcrumbs.html" . }}

        {{ partial "what_is_trax.html" . }}

        {{ partial "features.html" . }}

        {{ partial "who_is_trax.html" . }}
    </main>

    {{ partial "footer.html" . }}
    <!-- /#all -->

    {{ partial "scripts.html" . }}

  </body>
</html>
