{{ range $board := sort .Site.Data.board.members "year" "desc" }}
{{ $board_members := sort $board.member "weight" }}
{{ $board_member_len := len $board.member}}
{{ $elements :=  3 }}
<div class="text-center">
    <h1 class="fw-bold text-body-emphasis">{{ $board.year }}</h1>
</div>

{{ range $i, $sequence := seq $board_member_len }}
<div class="row row-{{ $i }} row-{{ if eq (mod $i 2) 0 }}odd{{ else }}even{{ end }}">
  {{ range $j, $sequence2 := (seq $elements) }}

  {{ $board_member_index := add (mul $i $elements) $j }}
  {{ if lt $board_member_index (len $board_members) }}
  {{ $board_member := index $board_members $board_member_index }}

  <div
    class="p-3 d-flex justify-content-center col-md-{{ div 12 $elements }}">
    <div class="board-member-card card box-simple" style="width: 18rem;">
      {{ if $board_member.image }}
      <img class="card-img-top" src="{{ $board_member.image | absURL }}">
      {{ else }}
      <img class="card-img-top" src="/img/placeholder.png">
      {{ end }}
      <div class="card-body">
        <h5 class="card-title">{{ $board_member.name }}</h5>
        <p class="card-subtitle">{{ $board_member.role }}</p>
        {{ $role_def := index $.Site.Data.board.roles $board.roles_version }}
        {{ with (index $role_def $board_member.role) }}
        {{ with index . 0 }}
        <p class="card-text">{{ .email }}</p>
        {{ end }}
        {{ end }}
      </div>
    </div>
  </div>
  {{ end }}
  {{ end }}
</div>  
{{ end }}
<br>
{{ end }}
