{{ $courses := .Site.Data.courses_and_events.data.courses }}
{{ $info := .Site.Data.courses_and_events.data.info }}

<style>
  @media (min-width: 992px){

    .twoblocks-container {
        display: flex; 
        gap: 1rem; 

    }
    .Calander{
      margin-top: 60px;
      margin-left: 50px;
      flex: 1;
    }
    .Courses{
      flex:2;
    }
  }

</style>
<br>
<div>
  
  {{range $info}}
  <h5>
    {{ .information | safeHTML  }}
  </h5>
  {{end}}
</div>

<div class="twoblocks-container">
<div class="Courses">
<div class="text-center">
  <h1 class="fw-bold text-body-emphasis"></h1>
  <div class="col-lg-6 mx-auto">
    <p class="lead mb-4">
    </p>
  </div>
</div>

<table class="table table-hover">
  <thead class="thead-dark">
    <tr>
      <th scope="col">Name</th>
      <th scope="col">Description</th>
      <th scope="col">Link</th>
    </tr>
  </thead>
  <tbody>
    {{ range $course := sort $courses "weight" }}
    <tr>
      {{ with $course.short_name }}
      <td>{{ . }}</td>
      {{ else }}
      <td>N/A</td>
      {{ end }}
      {{ with $course.description }}
      <td style="word-wrap: break-word;min-width: 160px;max-width: 160px;">{{ . }}</td>
      {{ else }}
      <td>N/A</td>
      {{ end }}
      {{ with $course.url}}
      <td>
        <a href="{{ . | absURL }}">
          {{ with $course.url_description }}
          {{ . }}
          {{ else }} 
          Link
          {{ end }}
        </a>
      </td>
      {{ else }}
      <td>N/A</td>
      {{ end }}
    </tr>
    {{ end }}
  </tbody>
</table>
</div>
<div class="Calander">
  <iframe src="https://calendar.google.com/calendar/embed?height=500&wkst=2&ctz=Europe%2FStockholm&bgcolor=%23F6BF26&showPrint=0&showTabs=0&showCalendars=0&showTz=0&title&src=Y182Zjg5YTg1MmRmNDQ5ZGRhN2MwYjhhMzgyMDJmMjA1ZmY2N2RlODYxYWJhNDdmYjI4ODY3Y2ZhNmM5ZWZjNTExQGdyb3VwLmNhbGVuZGFyLmdvb2dsZS5jb20&src=aW5mb0B0LXJheC5zZQ&color=%23F6BF26&color=%23C0CA33" 
  style="border-width:0; box-shadow:  0 0px 20px rgba(0, 0, 0, 0.3);" 
  width="500" 
  height="500" f
  rameborder="0" 
  scrolling="no"></iframe></div>
<br><br>
</div>

