{{ $makerspaces := sort .Site.Data.makerspace "weight" }}
{{ $elements := (len $makerspaces) }}
{{ $total_rows := div (len $makerspaces) $elements }}
{{ $cards_per_row := default 3 $.Site.Params.makerspace.cards_per_row }}

<div class="text-center">
  <h1 class="fw-bold text-body-emphasis">Overview</h1>
  <div class="col-lg-6 mx-auto">
    <p class="lead mb-4">
      In FUSE lab there are several different Makerspaces to use.
      Here is an overview of all the spaces available to members.
    </p>
  </div>
</div>

{{ range $i, $sequence := seq $total_rows }}
<div class="row row-{{ $i }} row-{{ if eq (mod $i 2) 0 }}odd{{ else }}even{{ end }}">
  {{ range $j, $sequence2 := (seq $elements) }}

  {{ $makerspace_index := add (mul $i $elements) $j }}
  {{ if lt $makerspace_index (len $makerspaces) }}
  {{ $element := index $makerspaces $makerspace_index }}

  <div
    class="p-3 d-flex justify-content-center col-md-{{ div 12 $cards_per_row }}">
    <div class="card box-simple" style="width: 35rem;">
      {{ if $element.thumbnail_url }}
      <img class="card-img-top card-img-size" src="{{ $element.thumbnail_url | absURL}}">
      {{ else }}
      <img class="card-img-top card-img-size" src="/img/placeholder.png">
      {{ end }}
      <div class="card-body">
        <h5 class="card-title">{{ $element.name }}</h5>
        <p class="card-text">{{ $element.description }}</p>
        
        {{ with $element.url }}
        <a href="{{ $element.url }}" class="btn btn-m3-tertiary d-flex justify-content-center">Go to makerspace</a>
        {{ end }}
      </div>
    </div>
  </div>
  {{ end }}
  {{ end }}
</div>
{{ end }}