{{ $makerspaces := sort .Site.Data.makerspace "weight" }}
{{ $elements := (len $makerspaces) }}
{{ $total_rows := div (len $makerspaces) $elements }}
{{ $cards_per_row := default 3 $.Site.Params.makerspace.card.cards_per_row }}
{{ $under_construction_text := "~ Page under construction ~"}}

<div class="text-center">
  <h1 class="fw-bold text-body-emphasis">Overview</h1>
  <div class="col-lg-6 mx-auto">
    <p class="lead mb-4">
      In the FUSE lab there are multiple workshops available to our members.<br> 
      
      If you are interested in a workshop, 
      follow its link for information on what that workshop offers 
      and what experience and machine access you will get from attending its course. 
      Access to the fusebox, 
      all group rooms and the hand tools in the rapid workshop are all 
      included in the common access available to all members

      
      <br><br>
    </p>
  </div>
</div>

{{ range $i, $sequence := seq $total_rows }}
<div class="row row-{{ $i }} row-{{ if eq (mod $i 2) 0 }}odd{{ else }}even{{ end }}">
  {{ range $j, $sequence2 := (seq $elements) }}

  {{ $makerspace_index := add (mul $i $elements) $j }}
  {{ if lt $makerspace_index (len $makerspaces) }}
  {{ $element := index $makerspaces $makerspace_index }}

  <div
    class="p-3 d-flex justify-content-center col-md-{{ div 12 $cards_per_row }}">
    <div class="card box-simple" style="width: 35rem;">
      {{ if $element.thumbnail_url }}
      <img class="card-img-top card-img-size {{ if $element.under_construction }} disabled-card-img {{ end }}" src="{{ $element.thumbnail_url | absURL}}">
      {{ else }}
      <img class="card-img-top card-img-size" src="/img/placeholder.png">
      {{ end }}
      <div class="card-body">
        <h5 class="card-title">{{ $element.name }}</h5>
        {{ with $element.under_construction }}
        <p class="card-text text-secondary"><tt>{{ $under_construction_text }}</tt></p>
        {{ end }}
        <p class="card-text">{{ $element.description }}</p>
        
        {{ with $element.url }}
        <a href="{{ $element.url }}" 
          class="btn btn-m3-tertiary d-flex justify-content-center {{ if $element.under_construction }} disabled {{ end }}">Go to workshop</a>
        {{ end }}
      </div>
    </div>
  </div>
  {{ end }}
  {{ end }}
</div>
{{ end }}

<div class="text-center">
  <h1 class="fw-bold text-body-emphasis"></h1>
  <div class="col-lg-6 mx-auto">
    <p class="lead mb-4">
      Pages that are labeled <tt>{{ $under_construction_text }}</tt> will be available soon.
      This label does not reflect the state of the workshop, only the state of
      its page. <br><br>

      We are continuously trying to update the pages to make them as accurate as
      possible. If you find any inaccurate information or any link broken on these
      pages please contact <tt>admin@t-rax.se</tt>.<br><br>
      For general questions about the workshops,
      please refer to the contact information on the bottom of the page.
    </p>
  </div>
</div>